<!DOCTYPE html>
<html>
<head>
  <title>Pasta transport app</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="javascript">
$(document).ready(function () {
          $("div[id^='flash_']").fadeOut(3000);
});
</script>

</head>
<body>
	<header>	
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
				<% if user_signed_in? %>
				<li><%= link_to "Home", root_path %></li>
				<% if can? :create, Lr %>
				<li><%= link_to "Create new Lr", "/lrs/new" %></li>
				<% end %>
				<% if can? :create, User %>
				<li><%= link_to "Create new User", "/users/new" %></li>
				<% end %>
			
					<li><%= link_to "Signed in as #{current_user.email}", root_path %></li>
			<li></li>  
			<li style= "float:right"><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
			<% else %>
			<li><%= link_to "Sign in ", new_user_session_path %><li>
		<% end %>
		</ul>	
		</div>
		</div>
		</header>
		<div class="container">
			<!--
			<% flash.each do |name, msg| %>
			  <% if msg.is_a?(String) %>
			    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
			      <a class="close" data-dismiss="alert">&#215;</a>
			      <%= content_tag :div, msg, :id => "flash_#{name}" %>
			    </div>
			  <% end %>
			<% end %>
			
			-->
			
<% if flash[:notice] %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
			<div class='alert <% if flash[:notice] =~ /Success/i %> alert-success <% else %> alert-error<% end %>'>
		      <a class="close" data-dismiss="alert">&#215;</a>
		      <%= content_tag :div, msg, :id => "flash_#{name}" %>
		
					</div>
			<% end %>
			<% end %>
			<% end %>
			
			
				
				
<%= yield %>
</div>

</body>
</html>
